/* Structure file with CSS Grid */

/* Media queries */
@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  nav {
    background: #000;
  }

  .main-content {
    /* position: relative; */
    /* top: 5rem; */
    /* padding-top: 2rem; */
  }

  .card-our-routes {
  }
}

@media (max-width: 992px) {
  .nav__listitem i {
    position: absolute;
    left: 0;
  }

  .nav__listitem li span {
    padding-left: 5px;
  }

  .card-work-title {
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 13px;
  }

  .nav__list {
    flex-direction: column;
    margin: 0;
  }

  .nav__menu li {
    font-size: 0.85rem;
  }

  ul.nav__list {
    margin: 0;
    padding: 0;
  }

  .nav__listlogo {
    flex-direction: unset;
    position: relative;
  }

  .nav.sticky {
    padding: 0;
  }

  .card-main {
    font-size: 14px;
  }

  .main-content {
    position: relative;
    top: 0em;
  }

  .about-us_text {
    order: 2;
    flex: 1;
  }

  .about-us_img {
    order: 1;
    flex: 2;
    align-self: flex-start;
  }

  .documents-interest {
    flex-direction: column;
  }

  .docs-list-info-legal__position {
    justify-content: flex-start;
  }

  /* a.btn .text-btn-display {
    display: none;
  } */
  
  .card-our-routes {
    width: 14rem;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 11px;
    /* background-color: #000; */
  }

  .nav__listitem-drop {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 12rem;
    padding: 1rem;
    flex-direction: column;
  }

  .nav_listitem {
    padding-left: 5px;
  }

  .nav__menu li {
    font-size: 0.75rem;
  }

  .nav__listitem::after {
    display: none;
    /* Poner animación de modo Pulse */
  }

  .nav__listlogo {
    flex-direction: unset;
    position: relative;
    top: 0.45em;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .nav__listitem {
    font-weight: bold;
    padding: 0.7em;
    cursor: pointer;
  }
  .nav__listitem i {
    display: none;
  }

  .main-content {
    top: 0;
  }

  .main-content__parallax p {
    padding: 0;
  }

  .card-work-team {
    height: 130px;
    width: 130px;
  }

  /* .card-our-routes {
    width: 14rem;
  } */
}

/* Para el footer */
@media (max-width: 768px) {
  .footer-body {
    flex-direction: column;
    margin: auto;
    font-size: 1em;
  }

  .card-work-title {
    /* height: 500px; */
    background-size: cover;
  }

  /* .cards-work-team {
    height: 130px;
    width: 140px;
    border-radius: 10%;
  } */

  .footer-section-1,
  .footer-section-2,
  .footer-section-3 {
    margin-bottom: 2em;
  }

  .footer-section-1 {
    padding: 0;
    /* margin: 1rem; */
  }

  .card-work-title {
    min-height: 300px;
  }

  .card-work-main__operational__descrip {
    order: 1;
  }

  .about-us article {
    flex-direction: column;
  }
}
