<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Icon Material -->
    <link rel="stylesheet" href="fonts/font-awesome.v5/css/all.min.css">

    <!-- Press Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Raleway:wght@200;300&family=Poppins:wght@300&family=Lato:wght@300;400&display=swap"
        rel="stylesheet">

    <!-- Structure file with CSS Grid -->
    <link rel="stylesheet" href="css/grid.css">

    <!-- <link rel="stylesheet" href="css/animation.css"> -->

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main.css">
    <title>Metrosan</title>
</head>

<body>

    <div id="n"></div>

    <script>
        window.onload = () => {
            document.querySelector('#n').innerHTML = `<h2>xd</h2>`
        }
    </script>

</body>
