<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Icon Material -->
    <link rel="stylesheet" href="../fonts/font-awesome.v5/css/all.min.css">

    <!-- Press Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Raleway:wght@200;300&family=Poppins:wght@300&family=Lato:wght@300;400&display=swap"
        rel="stylesheet">

    <!-- Structure file with CSS Grid -->
    <!-- <link rel="stylesheet" href="css/grid.css"> -->

    <!-- <link rel="stylesheet" href="css/animation.css"> -->

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/common/accordion.css">
    <link rel="stylesheet" href="../css/common/tooltip.css">
    <link rel="stylesheet" href="../css/settings/root.css">
    <title>Metrosan</title>
</head>

<body class="">


    <!-- NAVBAR CONTENT -->

    <div id="navbar-section"></div>

    <!-- /NAVBAR CONTENT -->

    <!-- Title -->
    <div class="title-section">
        <h2>Metrosan</h2>
    </div>
    <!-- /Title -->

    <!-- Card about work team -->
    <section class="team-members">

        <div class="card-banner-title">
            <h3 class="card-banner-title-sub">Nuestro equipo</h3>
            <p class="card-banner-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta distinctio,
                consequuntur commodi est dolore obcaecati.</p>
        </div>
        <!-- Title for sections -->
        <!-- <h3 class="title-bookmark">
            <i class="fas fa-bookmark"></i>
            Administrativo
        </h3>     -->


        <div class="cards-work-team">

            <div class="card-work-main">

                <div class="">
                    <div class="cards-work-team__title">
                        <h3>Administrativo</h3>
                    </div>
                </div>

                <div class="card-work-team-container">

                    <div class="card-work-team-container_individual">
                        <figure class="card-work-team img-1"></figure>
                        <div class="descrip">
                            <i class="title__descrip">Líder</i>
                            <p>Nombre de persona</p>
                        </div>
                    </div>

                    <div class="card-work-team-container_individual">
                        <figure class="card-work-team img-2"></figure>
                        <div class="descrip">
                            <i class="title__descrip">Líder</i>
                            <p>Nombre de persona</p>
                        </div>
                    </div>

                    <div class="card-work-team-container_individual">
                        <figure class="card-work-team img-3"></figure>
                        <div class="descrip">
                            <i class="title__descrip">Líder</i>
                            <p>Nombre de persona</p>
                        </div>
                    </div>

                    <div class="card-work-team-container_individual">
                        <figure class="card-work-team img-4"></figure>
                        <div class="descrip">
                            <i class="title__descrip">Líder</i>
                            <p>Nombre de persona</p>
                        </div>
                    </div>

                </div>

                <div class="">
                    <div class="cards-work-team__title">
                        <h3>Operacional</h3>
                    </div>
                </div>


                <!-- Operación -->
                <section class="card-work-main__operational">
                    <article class="card-work-main__operational_img">
                        <img src="../img/reporting.png">
                    </article>

                    <article class="card-work-main__operational__descrip">
                        <div class="">
                            <h4>Process - reporting</h4>
                            <p class="line-height-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ratione voluptatum nihil,
                                molestiae
                                cupiditate consequatur maxime excepturi accusantium fugit laudantium vero.</p>
                        </div>
                        <div class="">

                        </div>
                    </article>

                </section>

            </div>
        </div>

        <!-- /Card about work team -->
    </section>
    <!-- /Card about work team -->

    <!-- Title -->
    <div class="title-section">
        <h2>Quiénes somos</h2>
    </div>
    <!-- /Title -->

    <!-- Section about us-->
    <section class="about-us">
        <article>
            <div class="about-us_text">
                <p class="about-us_paragraph line-height-normal">
                    Es una empresa de <span class="highlight--dark-blue">transporte público</span> de pasajeros que
                    integra a los habitantes de la comuna 13 al metro
                    de Medellín.

                    Metrosan es una cooperativa de transporte público, alimentadora al metro de Medellín, que presta el
                    servicio de transporte a la comuna 13, con la cordialidad y compromiso que caracteriza nuestra
                    empresa.
                </p>
            </div>
            <div class="about-us_img">
                <img src="../img/aboutus.png" alt="">
            </div>
        </article>
    </section>
    <!-- /Section about us-->

    <!-- Title -->
    <div class="title-section">
        <h2>Historia</h2>
    </div>
    <!-- /Title -->


    <!-- Section about history -->
    <section class="history">
        <article>
            <p class="history__paragraph line-height-normal">
                La <span class="highlight--dark-blue">cooperativa de Transporte Integrado Metrosan</span> se constituyó
                el 28 de mayo de 1996 con vehículos
                informales, hasta constituirse legalmente con 33 vehículos en junio del año 2001, luego se tramitó el
                convenio con el <span class="highlight--green">Metro de Medellín</span> para movilizar pasajeros
                Integrados en el año 2003.

                A la fecha contamos con 46 vehículos de 44 de asociados, ya que en el año 2009 recibimos una empresa
                informal que nos agregó 11 vehículos y tres zonas más de la comuna 13 y la Secretaría de Movilidad nos
                asignó 6 vehículos (Cupos) de reserva, de los cuales sólo se han cubierto 2.
            </p>
        </article>
    </section>
    <!-- /Section about history -->


    <!-- Title -->
    <div class="title-section">
        <h2>Documentos de interés</h2>
    </div>
    <!-- /Title -->

    <!-- Documents of interest -->
    <section class="documents-interest">
        <div class="documents-interest__infolegal">

            <h4 class="documents-interest__subtitle">Información legal</h4>

            <button class="accordion highlight--dark-blue">Certificados</button>
            <div class="panel">
                <ol class="docs-list-info-ol">
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/info-legal/CERTIFICADO-CAMARA-COMERCIO.pdf" target="_blank">Certificado Cámara de comercio</a>
                            </div>

                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <a href="../docs/info-legal/CERTIFICACION-CUMPLIMIENTO-NUMERAL-13-DEL-PARAGRAFO-2-DEL-ARTICULO-364-METROSAN.pdf"
                                target="_blank">Certificación cumplimiento numeral 13 del parágrafo 2 del artículo 364 Metrosan</a>

                            <a class="btn" href="">
                                <i class="fas fa-file-download position-icon"></i>
                                <!-- <span class="text-btn-display">Descargar</span> -->
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <a href="../docs/info-legal/CERTIFICACION-ART-364-3-y-5-NUM-6-PAR-2.pdf"
                                target="_blank">Certificación Art 364-3 y 5 num 6 par 2</a>

                            <a class="btn" href="">
                                <i class="fas fa-file-download position-icon"></i>
                            </a>
                        </div>
                    </li>
                </ol>
            </div>

            <button class="accordion highlight--dark-blue">Actas</button>
            <div class="panel">
                <ol class="docs-list-info-ol">
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/info-legal/ACTA-DE-CONSTITUCION-DE-METROSAN_compressed.pdf"
                                    target="_blank">Acta de constitución de Metrosan</a>
                            </div>

                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <a href="../docs/info-legal/Acta_de_Asamblea_53.pdf" target="_blank">Acta de Asamblea</a>

                            <a class="btn" href="">
                                <i class="fas fa-file-download position-icon"></i>
                            </a>
                        </div>
                    </li>
                </ol>
            </div>

            <button class="accordion highlight--dark-blue">Otros informes</button>
            <div class="panel">
                <ol class="docs-list-info-ol">
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/info-legal/INFORME_DE_GERENCIA_METROSAN_2020.pdf"
                                    target="_blank">Informe de Gerencia Metrosan 2020</a>
                            </div>

                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <a href="../docs/info-legal/Acta_de_Asamblea_53.pdf" target="_blank">Declaración Metrosan
                                2020</a>

                            <a class="btn" href="">
                                <i class="fas fa-file-download position-icon"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <a href="../docs/info-legal/ESTADOS_FROS_2020_METROSAN.pdf" target="_blank">Estados FROS
                                2020 Metrosan</a>

                            <a class="btn" href="">
                                <i class="fas fa-file-download position-icon"></i>
                            </a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="documents-interest__asomet">

            <h4 class="documents-interest__subtitle">Asomet</h4>


            <button class="accordion highlight--dark-blue">Certificados</button>
            <div class="panel">
                <ol class="docs-list-info-ol">
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/asomet/1 ACTA DE CONSTITUCIÓN ASOMET.pdf" target="_blank">Certificación
                                    cumplimiento numeral 13 del parágrafo 2 del artículo 364 asomet</a>
                            </div>

                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/asomet/3-CERTIFICADO-DE-EXISTENCIA-1.pdf" target="_blank">Certificado
                                    de existencia (1)</a>
                            </div>

                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/asomet/4-CERTIFICADO-DE-EXISTENCIA.pdf" target="_blank">Certificado de
                                    existencia</a>
                            </div>

                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/asomet/8-CERTIFICACION-ART-364-5-NUM-6-PAR2.pdf"
                                    target="_blank">Certificación Art 364-5 Num 6 Par2</a>
                            </div>

                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>

                        </div>
                    </li>
                </ol>
            </div>

            <button class="accordion highlight--dark-blue">Actas</button>
            <div class="panel">
                <ol class="docs-list-info-asomet">
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/info-legal/INFORME_DE_GERENCIA_METROSAN_2020.pdf" target="_blank">Acta
                                    de Constitución Asomet</a>
                            </div>

                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>

                        </div>
                    </li>
                </ol>
            </div>            

            <button class="accordion highlight--dark-blue">Otros informes</button>
            <div class="panel">
                <ol class="docs-list-info-ol">
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/asomet/5-DECLARACION-RENTA-ASOMET-2020.pdf" target="_blank">Declaración Renta Asomet 2020</a>
                            </div>
    
                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>
    
                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/asomet/6-ESTADOS-FINANCIEROS-DEF-2020-ok.pdf" target="_blank">Estados financieros Def 2020</a>
                            </div>
    
                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>
    
                        </div>
                    </li>
                    <li>
                        <div class="docs-list-info">
                            <div class="text-link">
                                <a href="../docs/asomet/7-INFORME-DE-GERENCIA-Y-JUNTA-DIRECTIVA-ASOMET-2020.pdf" target="_blank">Informe de Gerencia y Junta Directa Asomet 2020</a>
                            </div>
    
                            <div class="text-btn">
                                <a class="btn" href="">
                                    <i class="fas fa-file-download position-icon"></i>
                                    <!-- <span class="text-btn-display"></span>Descargar -->
                                </a>
                            </div>
    
                        </div>
                    </li>
                </ol>
            </div>

        </div>

    </section>
    <!-- /Documents of interest -->


    <!-- FOOTER CONTENT -->
    <div class="new-position" id="footer-section"></div>
    <!-- /FOOTER CONTENT -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/dom.js"></script>
    <!-- <script src="../js/functions.js"></script> -->
    <script src="../js/common/accordion.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>